:root {
    --js: rgb(255, 255, 0);
    --html: rgb(255, 149, 0);
    --css: rgb(138, 44, 232);
    --js-a: rgb(196, 196, 33);
    --css-a: rebeccapurple;
    --html-a: rgb(207, 121, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

body {
    background: url(./img/bg.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-color: #b05c04;
    overflow: hidden;
}

#container {
    position: relative;
    display: flex;
    flex-flow: column;
    background: url(./img/cont-bg.svg);
    background-size: contain;
    background-color: #201c1c;
    opacity: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    max-height: 650px;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

#container h1 {
    margin: 25px;
    font-size: 40px;
}

#container h2 {
    margin: 0 20px;
    text-decoration: underline solid white 3px;
}

#container .js {
    color: var(--js);
}

#container .html {
    color: var(--html);
}

#container .css {
    color: var(--css);
}

#js-img {
    display: flex;
    position: absolute;
    height: 40%;
    width: 40%;
    opacity: 50%;
    align-content: center;
    top: 45%;
    margin: 0 auto;
    z-index: 0;
}

#container p {
    margin: 20px 10px;
    font-size: 20px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 30px;
    padding: 0 30px;
    gap: 10px;
    margin-bottom: 84px;
    overflow: hidden;
}

#js-projects,
#css-projects,
#html-projects {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

#projects a {
    position: relative;
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    padding: 10px;
    color: white;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    z-index: 1;
}

a.js-project {
    background: var(--js-a);
}

a.css-project {
    background: var(--css-a);
}

a.html-project {
    background: var(--html-a);
}

#projects a:hover {
    background: white;
    color: black;
}

#projects a:active {
    background: rgb(109, 109, 109);
}

footer {
    position: absolute;
    display: flex;
    background: white;
    width: 100%;
    height: 64px;
    bottom: 0;
    justify-content: center;
}

footer p a {
    margin: 0 10px;
    height: 1.5em;
    width: 1.5em;
    color: black;
}

@media (max-height: 660px) {
    body {
        overflow: auto;
    }
}

@media (max-height: 660px) {
    #projects {
        overflow: auto;
    }
}

@media (max-width: 1200px) {
    body {
        padding: 0 50px;
    }

    #container {
        max-height: 600px;
    }

    #js-img {
        height: 35%;
        width: 35%;
        top: 50%;
    }
}

@media (max-width: 800px) {
    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow-y: auto;
    }

    #html-projects {
        grid-column: 1 / span 2;
    }
    
    #js-img {
        height: 50%;
        width: 50%;
        top: 40%;
    }
}

@media (max-width: 576px) {
    #projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow-y: scroll;
    }

    #html-projects {
        grid-column: 1 / span 1;
    }
}

@media (max-width: 480px) {
    #projects {
        margin-top: 10px;
    }
    
    body {
        padding: 0 30px;
    }
}
