:root {
    --calc-bg: hsl(0, 0%, 20%);
    --button-color: hsl(0, 0%, 30%);
    --button-hover: hsl(0, 0%, 40%);
    --button-active: hsl(0, 0%, 50%);
    --operator: hsl(34, 100%, 50%);
    --operator-hover: hsl(34, 100%, 60%);
    --operator-active: hsl(34, 100%, 65%);
    --border: hsl(0, 0%, 45%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(255, 219, 151), orange)
}

#calculator {
    display: flex;
    flex-flow: column;
    background: hsl(0, 0%, 15%);    
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid transparent 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background: var(--calc-bg);
    color: white;
    cursor: not-allowed;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    max-width: 100px;
    height: 100px;
    width: 100%;
    border-radius: 50%;
    border: none;
    background-color: var(--button-color);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    border: solid var(--button-hover) 3px;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
}

.operator {
    background-color: var(--operator);
    border: solid var(--operator-hover) 3px;
}

.operator:hover {
    background-color: var(--operator-hover);
}

.operator:active {
    background-color: var(--operator-active);
}

@media (max-width: 768px) {
    #calculator {
        align-items: center;
    }

    button {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 500px) {
    #calculator {
        border-radius: 0;
    }
}

@media (max-width: 420px) {
    button {
        height: 80px;
        width: 80px;
    }
}
