* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #10202b;
}

input {
    display: none;
}

#tabs {
    position: relative;
    display: flex;
    gap: 80px;
    padding: 30px 40px;
    background: #182d3c;
    border-radius: 20px;
    overflow: visible;
}

label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.75rem;
    color: transparent;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.25s;
    -webkit-text-stroke: 2px white;
}

label:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
}

input#home:checked ~ label[for="home"],
input#music:checked ~ label[for="music"],
input#likes:checked ~ label[for="likes"],
input#fav:checked ~ label[for="fav"],
input#settings:checked ~ label[for="settings"] {
    color: white;
    opacity: 1;
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
}

.underline {
    position: absolute;
    bottom: 15px;
    height: 5px;
    transition: 0.5s;
    width: 40px;
}

.underline::before,
.underline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    background: white;
    border-radius: 4px;
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white) 
    drop-shadow(0 0 30px white) drop-shadow(0 0 20px white);
}

input#home:checked ~ .underline {
    left: 40px;
}
input#music:checked ~ .underline {
    left: 160px;
}
input#likes:checked ~ .underline {
    left: 280px;
}
input#fav:checked ~ .underline {
    left: 400px;
}
input#settings:checked ~ .underline {
    left: 520px;
}
